<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".admin.Manage_item"></activity>
        <activity android:name=".admin.Edit_item" />
        <activity android:name=".Forgot_password" />
        <activity android:name=".user.BookIssue" />
        <activity android:name=".user.Show_item_detail" />
        <activity android:name=".user.User_ItemList" />
        <activity android:name=".admin.Add_items" />
        <activity android:name=".admin.View_all_list" />
        <activity android:name=".ListItem" />
        <activity android:name=".admin.Admin_MainActivity" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".FlashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>